/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"); */
body, html {
   height: 100%;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
}
* {
   box-sizing: border-box;
}
.container {
   width: 1140px;
   margin: 0 auto;
}
.bg-image {
   height: 50%; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.img1 { width: 100%;}
.img2 { width: 100%;}
.img3 { width: 100%;}
.img4 { width: 100%;}
.img5 { width: 100%;}
.img6 { width: 100%;}

img {
   width: 100%;
}
.bg-text {
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0, 0.6); 
   color: white;
   font-weight: bold;
   border: 10px solid #f1f1f1;
   position: fixed;
   top: 38vw;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   width: 100%;
   padding: 20px;
   text-align: center;
}
.about {
   padding-top: 30px;
}
.title__section-title {
   position: relative;
   text-align: center;
}
 /* .title__section-title:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -25%;
   left: 0;
   width: 36px;
   height: 36px;
   border-radius: 100%;
   background: #ffa501;
} */
h3 {
   font-size: 3rem;
   color: #ffa501;
}
.title_fz12 {
   font-size: 1.4vw;
   line-height: 1.6vw;
   color: rgb(245, 244, 239);
}
.title_fz14 {
   font-size: 1.8vw;
   line-height: 2vw;
}
.about__text {
   margin-top: 0vw;
   font-size: 1.4vw;
   line-height: 1.6vw;
}
/* .about__title {
   position: relative;
   padding: 1px 0 0 12px;
 }
.about__title:before {
   content: '';
   position: absolute;
   z-index: -1;
   top: -2.2%;
   left: 50.2%;
   width: 52px;
   height: 52px;
   border-radius: 100%;
   background: #FFA501;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
} */
.golovna {
   position: fixed;
   background-color: #ffa501;
   width: 150px;
   height: 30px;
   border-radius: 40%;
   margin: -60px 0 0 10vw;
}
.golovna a {
   font-size: 20px;
   text-decoration: none;
   color: rgb(16, 45, 235);
   margin: 0 0 0 2vw;
}
/* .divider {
   width: 120px;
   height: 0.5vw;
   background-color: #ffa501;
   margin: 3vh auto 3vh auto;
}
.about__descr-1 .divider {
   margin: 40px;
   margin-left: 3%;
} */
/* .about__title-1 {
   position: relative;
   padding: 0.5vw 0 2vw 0;
   margin-left: -1vw;
 }
 .about__title-1:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -17%;
   left: 3vw;
   width: 4vw;
   height: 4vw;
   border-radius: 100%;
   background: #ffa501;
 } */
/* .about__wrapper-1 {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 450px 772px;
   grid-template-columns: 450px 772px;
   -ms-grid-rows: minmax(245px, auto) minmax(70px, auto);
   grid-template-rows: minmax(245px, auto) minmax(70px, auto);
   grid-auto-rows: minmax(245px, auto);
   -webkit-column-gap: 70px;
   column-gap: 70px;
   row-gap: 40px;
} */
/* .about__wrapper-2 {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1292px;
   grid-template-columns: 1292px;
   -ms-grid-rows: minmax(245px, auto) minmax(70px, auto);
   grid-template-rows: minmax(245px, auto) minmax(70px, auto);
   grid-auto-rows: minmax(245px, auto);
   -webkit-column-gap: 70px;
   column-gap: 70px;
   row-gap: 40px;
} */
/* .about__photo {
   -ms-grid-row: 1;
   -ms-grid-row-span: 2;
   grid-row: 1/3;
}
.about__photo img {
   width: 450px;
   height: 450px;
   -o-object-fit: cover;
   object-fit: cover;
} */
/* .about__skills {
   -webkit-column-gap: 20px;
   column-gap: 20px;
   -ms-grid-rows: minmax(115px, auto);
   -ms-grid-columns: 1292px;
   grid-template: repeat(1, minmax(115px, auto))/repeat(1, 1292px);
}
.about__skills-item {
   -ms-grid-columns: 1292px;
   grid-template-columns: 1292px;
   column-gap: 15px;
} */

@media (max-width: 1440px) {
   /* .about__wrapper-1 {
      -ms-grid-columns: 450px 591px;
      grid-template-columns: 450px 591px;
      -ms-grid-rows: minmax(245px, auto) minmax(0px, auto);
      grid-template-rows: minmax(245px, auto) minmax(0px, auto);
   }
   .about__wrapper-2 {
      -ms-grid-columns: 1112px;
      grid-template-columns: 1112px;
   }
   .about__photo {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3;
   }
   .about__photo img {
      width: 450px;
      height: 450px;
      -o-object-fit: cover;
      object-fit: cover;
   }
   .about__skills {
      -ms-grid-columns: 1112px;
      grid-template: repeat(1, minmax(115px, auto))/repeat(1, 1112px);
   }
   .about__skills-item {
      -ms-grid-columns: 1112px;
      grid-template-columns: 1112px;
      column-gap: 15px;
   } */
}
@media (max-width: 1199px) {
   .container {
      max-width: 960px;
   }
   .bg-text {
      top: 50vh;
   }
   h3 {
      font-size: 2.2rem;
      margin: 0;
   }
   .about__text {
      font-size: 18px;
      line-height: 20px;
   }
   .title_fz12 {
      font-size: 14px;
      line-height: 20px;
   }
   /* .about__photo {
      width: 350px;
      height: 350px;
   }
   .about__photo img {
      width: 350px;
      height: 350px;
   }
   .about__wrapper-1 {
      -ms-grid-columns: 350px 543px;
      grid-template-columns: 350px 543px;
      -webkit-column-gap: 40px;
      column-gap: 40px;
      row-gap: 10px;
   }
   .about__wrapper-2 {
      -ms-grid-columns: 933px;
      grid-template-columns: 933px;
   }
   .about__skills {
      -ms-grid-columns: 933px;
      grid-template: repeat(1, minmax(115px, auto))/repeat(1, 933px);
   }
   .about__skills-item {
      -ms-grid-columns: 933px;
      grid-template-columns: 933px;
      column-gap: 15px;
   } */
}
@media (max-width: 991px) {
   .container {
      max-width: 720px;
   }
   .bg-text {
      top: 54vh;
   }
   h3 {
      font-size: 2rem;
      margin: 0;
   }
   .about__text {
      font-size: 14px;
      line-height: 16px;
   }
   .title_fz12 {
      font-size: 14px;
      line-height: 16px;
   }
   .title_fz14 {
      font-size: 17px;
      line-height: 22px;
   }
   /* .about__text {
      margin-top: 0px;
      font-size: 17px;
      line-height: 25px;
   }
   .about__photo {
      width: 250px;
      height: 250px;
   }
   .about__photo img {
      width: 250px;
      height: 250px;
   }
   .about__wrapper-1 {
      -ms-grid-columns: 250px 415px;
      grid-template-columns: 250px 416px;
      -webkit-column-gap: 30px;
      column-gap: 30px;
      row-gap: 10px;
   }
   .about__wrapper-2 {
      -ms-grid-columns: 695px;
      grid-template-columns: 695px;
   }
   .about__skills {
      -ms-grid-columns: 695px;
      grid-template: repeat(1, minmax(115px, auto))/repeat(1, 695px);
   }
   .about__skills-item {
      -ms-grid-columns: 695px;
      grid-template-columns: 695px;
      column-gap: 15px;
   } */
}
@media (max-width: 767px) {
   .container {
      max-width: 540px;
   }
   .golovna {
      width: 120px;
      height: 30px;
   }
   .golovna a {
      font-size: 2.4vw;
      margin: 0 0 0 2vw;
      padding-top: 2vw;
   }
   .bg-text {
      top: 57vh;
   }
   .title_fz14 {
      font-size: 17px;
      line-height: 22px;
   }
   .about__text {
      margin-top: 0px;
      font-size: 14px;
      line-height: 16px;
   }
   /* .about__photo {
      width: 200px;
      height: 200px;
   }
   .about__photo img {
      width: 150px;
      height: 150px;
   }
   .about__wrapper-1 {
      -ms-grid-columns: 150px 344px;
      grid-template-columns: 150px 344px;
      -webkit-column-gap: 20px;
      column-gap: 20px;
      row-gap: 10px;
   }
   .about__wrapper-2 {
      -ms-grid-columns: 516px;
      grid-template-columns: 516px;
      -webkit-column-gap: 30px;
      column-gap: 30px;
      row-gap: 30px;
   }
   .about__skills {
      margin-left: 0%;
      -ms-grid-columns: 516px;
      grid-template: repeat(1, minmax(115px, auto))/repeat(1, 516px);
   }
   .about__skills-item {
      -ms-grid-columns: 516px;
      grid-template-columns: 516px;
      column-gap: 15px;
   } */
}
@media (max-width: 576px) {
   .container {
      width: 100%;
      padding: 0 10px;
   }
   .bg-text {
      top: 55vh;
   }
   .golovna {
      width: 100px;
      height: 30px;
   }
   .title_fz12 {
      font-size: 12px;
      line-height: 14px;
   }
   .title h3 {
      font-size: 1.6rem;
      line-height: 20px;
   }
   .about__text {
      font-size: 12px;
      line-height: 16px;
   }
   /* .about__photo {
      width: 125px;
      height: 125px;
   }
   .about__photo img {
      width: 125px;
      height: 125px;
   }
   .about__wrapper-1 {
      -ms-grid-columns: 125px 255px;
      grid-template-columns: 125px 255px;
      -webkit-column-gap: 15px;
      column-gap: 15px;
      row-gap: 10px;
   }
   .about__wrapper-2 {
      -ms-grid-columns: 394px;
      grid-template-columns: 394px;
   }
   .about__skills {
      -ms-grid-columns: 515px;
      grid-template: repeat(1, minmax(115px, auto))/repeat(1, 515px);
   }
   .about__skills-item {
      -ms-grid-columns: 515px;
      grid-template-columns: 515px;
      column-gap: 15px;
   } */
}
@media (max-width: 449px) {
   .divider {
      width: 80px;
      height: 0.5vw;
      background-color: #ffa501;
      margin: 3vh auto 3vh auto;
   }
   .bg-text {
      top: 52vh;
   }
   .golovna {
      width: 100px;
      height: 30px;
   }
   .golovna a {
      font-size: 3.4vw;
   }
   .title_fz12 {
      font-size: 10px;
      line-height: 12px;
   }
   .about {
      padding-top: 30px;
   }
   .title h3 {
      font-size: 1rem;
      line-height: 20px;
   }
   .title_fz12 {
      font-size: 10px;
      line-height: 12px;
   }
   .about__text {
      font-size: 10px;
      line-height: 12px;
      margin-left: auto;
      margin-right: auto;
   }
   /* .about__photo {
      width: 100px;
      height: 100px;
   }
   .about__photo img {
      width: 100px;
      height: 100px;
   }
   .about__wrapper-1 {
      -ms-grid-columns: 100px 61%;
      grid-template-columns: 100px 61%;
   }
   .about__wrapper-2 {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
   }
   .about__skills {
      margin-top: -12%;
      margin-left: 0%;
      -ms-grid-columns: 515px;
      grid-template: repeat(1, minmax(115px, auto))/repeat(1, 515px);
   }
   .about__skills-item {
      -ms-grid-columns: 515px;
      grid-template-columns: 515px;
      column-gap: 15px;
   } */
}
@media (max-width: 320px) {
   .bg-text {
      top: 50vh;
   }
   .title_fz12 {
      font-size: 8px;
      line-height: 10px;
   }
   .about {
      padding-top: 30px;
   }
   .title h3 {
      font-size: 0.8rem;
      line-height: 10px;
   }
}
/* @media (min-width: 320px) {
   .container-sm, .container {
      max-width: 100%;
   }
}
@media (min-width: 450px) {
   .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      max-width: 420px;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
   }
}
@media (min-width: 576px) {
   .container-sm, .container {
      max-width: 540px;
   }
}
@media (min-width: 768px) {
   .container-sm, .container {
      max-width: 720px;
   }
}
@media (min-width: 992px) {
   .container-sm, .container {
      max-width: 960px;
   }
}
@media (min-width: 1200px) {
   .container-sm, .container {
      max-width: 1140px;
   }
}
@media (min-width: 1400px) {
   .container-sm, .container {
      max-width: 1320px;
   }
} */
