html,
body {
   position: relative;
   height: 100%;
}
body {
   background: #eee;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
}
.resume {
   padding-top: 50px;
}
.title__section-title {
   position: relative;
   text-align: center;
}
.title_fz16 {
   font-size: 28px;
   line-height: 24px;
}
.title_fz16 {
   font-size: 28px;
   line-height: 24px;
}
.title__section-title:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -25%;
   left: 0;
   width: 36px;
   height: 36px;
   border-radius: 100%;
   background: #ffa501;
}
.title__section-title:before {
   top: -6px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}
.title__section-subtitle {
   font-weight: bold;
   text-align: center;
   font-size: 18px;
}
.golovna {
   position: fixed;
   background-color: #ffa501;
   width: 150px;
   height: 30px;
   border-radius: 40%;
   margin: 20px 0 0 10%;
}
 .golovna a{
   font-size: 20px;
   color: rgb(16, 45, 235);
   text-decoration: none;
   padding: 4% 0 0 0;
   margin: 0 0 0 17%;
}
.divider {
	width: 120px;
	height: 0.5vw;
	background-color: #ffa501;
	margin: 25px auto 0 auto;
}
.swiper {
   width: 970px;
   height: 720px;
   padding: 50px 0 50px 0;
}
.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}
.swiper-slide img {
   width: 970px;
   height: 720px;
}
@media (max-width: 992px) {
   .swiper {
      width: 760px;
      height: 550px;
   }
   .swiper-slide img{
      width: 760px;
      height: 550px;
   }
} 
@media (max-width: 768px) {
   .swiper {
      width: 575px;
      height: 400px;
   }
   .swiper-slide img{
      width: 575px;
      height: 400px;
   }
} 
@media (max-width: 576px) {
   .golovna {
      width: 100px;
      height: 25px;
      margin: 20px 0 0 10%;
   }
   .golovna a {
      font-size: 14px;
      line-height: 23px;
      margin: 0 0 0 17%;
   }
   .swiper {
      width: 450px;
      height: 300px;
   }
   .swiper-slide img{
      width: 450px;
      height: 300px;
   }
   :root {
   --swiper-navigation-size: 25px;
   }
} 
@media (max-width: 450px) {
   .swiper {
      width: 310px;
      height: 190px;
   }
   .swiper-slide img{
      width: 310px;
      height: 210px;
   }
   :root {
   --swiper-navigation-size: 20px;
   }
} 
@media (max-width: 320px) {
   .swiper {
      width: 270px;
      height: 170px;
   }
   .swiper-slide img{
      width: 270px;
      height: 190px;
   }
   :root {
   --swiper-navigation-size: 16px;
   }
} 